{
  "mongo": {
    "username":"root",
    "password": "example"
  },
  "majsoul": {
    "uid": "uid",
    "accessToken": "token"
  },
  "google": {
    "clientId": "getthisfromgoogle",
    "clientSecret": "getthisfromgoogle"
  },
  "riichiRoot":{
    "username": "example",
    "password": "password"
  }
}
